.modalErrorWrapper {

}

.modalErrorStyle {


}

.passwordImg {

  display: flex;
  align-items: center;
  align-content: center;
    justify-content: center;


  img{
    height: 250px;
    width: 300px;
  }
}